<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><h4 class="modal-title"><?php _e('Assign Form Request'); ?></h4></div>
<div class="modal-body">
    <div class="form-group">
        <label for="licenseid"><?php _e('Technical Support'); ?></label>
        <select class="form-control select2" id="peopleid" name="peopleid" style="width: 100%;">
            <?php
            foreach($peoples as $people) {
                    echo "<option value='".$people['id']."'>";
                            echo $people[name];
                    echo "</option>";
            }
            ?>
        </select>
    </div>
    <div class="form-group">
        <label for="licenseid"><?php _e('Notes'); ?></label>
            <textarea class="form-control" id="tsnotes" name="tsnotes"><?php if($_GET[typereq] == '1'){echo "Permintaan Akun";} else if($_GET[typereq] == '2'){echo "Izin Akses Data";} else if($_GET[typereq] == '3'){echo "Peminjaman Laptop";} else if($_GET[typereq] == '4'){echo "Penutupan Akun";} ?></textarea>
    </div>
    <input type="hidden" name="action" value="addAssignTSuser">
    <input type="hidden" name="peopledtlid" value="<?php echo $_GET['peopleid']; ?>">
    <input type="hidden" name="typereq" value="<?php echo $_GET['typereq']; ?>">
    <input type="hidden" name="route" value="<?php echo $_GET['reroute']; ?>">
    <input type="hidden" name="routeid" value="<?php echo $_GET['routeid']; ?>">
    <input type="hidden" name="clientid" value="<?php echo $_GET['clientid']; ?>">
    <input type="hidden" name="section" value="<?php echo $_GET['section']; ?>">
    <input type="hidden" name="ticketidparent" value="<?php echo $_GET['id']; ?>">
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> <?php _e('Cancel'); ?></button>
    <button type="submit" class="btn btn-primary"><?php _e('Assign'); ?></button>
</div>

<script type="text/javascript">
		$(".select2").select2();
</script>
